body {
	background: url(img/apoteka.jpg) no-repeat center top/ cover;
	display: block;
	width: 100%;
	font-family: sans-serif;
	font-size: 20px; 
}
.pharmacist {
	padding-left: 550px;
	padding-top: 50px;

}
#farm,
#patient_btn,
#farm__btn {
	position: fixed;
	padding: 10px;
	font-family: sans-serif;
	font-size: 20px;
	cursor: pointer;
}
.patient img {

	float: left;
	display: block;
	width: 50px;
	margin-left: 30px;
	padding: 30px;
	padding-left: 210px;
	cursor: pointer;
	margin-bottom: -100px;
}
 

#patient_btn {
display: block;
margin-left: 550px;
margin-top: 300px;
}
.modal {
	display: none;
	position: fixed;
	width: 700px;
	z-index: 9000;
	margin-left:  -150px;
	margin-bottom: 200px;
	padding-bottom: 200px;
	overflow: auto;
}
.modal-content {
	background-color: #fefefe;
	margin: 5% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	margin-top: 150px;
	text-align: center;
}
.close,
.close2 {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;

}
.modal2 {
	display: block;
	display: none;
	position: fixed;
	z-index: 9000;
	left: 230px;
	margin-bottom: -500px;
	padding-bottom: -300px;
	width: 70%;
	height: 70%;
	overflow: auto;
	float: left;
}
.patient {
	display: block;
}

#pacient1,
#pacient2,
#pacient3 {
display: inline-block;
margin-left: 70px;
margin: 20px;
}